[submodule "openfpm_vcluster"]
	path = openfpm_vcluster
	url = https://github.com/IBirdSoft/openfpm_vcluster.git
[submodule "openfpm_devices"]
	path = openfpm_devices
	url = https://github.com/IBirdSoft/openfpm_devices.git
[submodule "openfpm_io"]
	path = openfpm_io
	url = https://github.com/IBirdSoft/openfpm_io.git
[submodule "openfpm_data"]
	path = openfpm_data
	url = https://github.com/IBirdSoft/openfpm_data.git
[submodule "openfpm_numerics"]
	path = openfpm_numerics
	url = https://github.com/IBirdSoft/openfpm_numerics.git
[submodule "gdbgui"]
	path = gdbgui
	url = https://github.com/incardon/gdbgui.git
