[submodule "openfpm_vcluster"]
	path = openfpm_vcluster
	url = ssh://git@ppmcore.mpi-cbg.de/incardon/openfpm_vcluster.git
[submodule "openfpm_devices"]
	path = openfpm_devices
	url = ssh://git@ppmcore.mpi-cbg.de/incardon/openfpm_devices.git
[submodule "openfpm_io"]
	path = openfpm_io
	url = ssh://git@ppmcore.mpi-cbg.de/incardon/openfpm_io.git
[submodule "openfpm_data"]
	path = openfpm_data
	url = ssh://git@ppmcore.mpi-cbg.de/incardon/openfpm_data.git
[submodule "openfpm_numerics"]
	path = openfpm_numerics
	url = ssh://git@ppmcore.mpi-cbg.de/incardon/openfpm_numerics.git
